.tabs {
  display: flex; /* Ensure the tabs are displayed in a row */
  justify-content: space-around;
  gap: 20px; /* Space between each tab */
  border-bottom: 2px solid var(--line-color); /* Thin line under the tabs */
}
  
.tab {
  padding: 10px 10px; /* Add padding to the tabs */
  color: var(--secondary-color);
  background-clip: content-box;
  cursor: pointer;
  font-size: var(--text3);
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease;
  display: inline-block;
  
}

.tab:has(.active) {
  border-bottom: 2px solid var(--highlight-color);
}

.tab-link {
  display: block; /* Make the <NavLink> behave like a block-level element */
  padding: 8px; /* Ensure the padding is inside the link */
}
    
.tab-link:hover {
  color: var(--highlight-color); /* Highlight color on hover */
  background-color: var(--secondary-color-hover); /* Light background on hover */
  border-radius: var(--tab-rounding);
}
    
.tab-link.active {
  background-color: var(--secondary-color); /* Highlight the active tab */
  color: var(--highlight-color); /* Make the text white for selected tab */
  border-radius: var(--tab-rounding);
}