.vocab-editor {
    display: flex;
    width: 100%;
    flex-direction: column;
    background: #f9f9f9;
  }
  
  .small-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 16px;
  }
  
  .small-tabs button {
    padding: 8px 16px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .small-tabs .active {
    font-weight: bold;
    border-bottom: 2px solid var(--highlight-color);
  }
  
  .tab-content .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .field label {
    font-size: 12px;
    margin-bottom: 3px;
    color: var(--text-tertiary-color);
  }
  
  .field input {
    padding: 8px;
    border: 1px solid var(--line-color);
    border-radius: 4px;
  }
  
  .submit-button {
    margin-top: 16px;
    padding: 8px 16px;
    border: none;
    background: var(--highlight-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .submit-button:hover {
    background: var(--highlight-color-hover);
  }
  