.practice-page-container {
  height: 80%;
}

/* Header styles */
.practice-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-left button {
  background: none;       /* Removes background color */
  margin-right: 5px; /* Space between button and h1 */
  color: var(--highlight-color);
  padding: 5px 5px;  
  border: none;
  font-size: var(--text2);
  font-weight: 550;

}
.header-left button:hover {
  font-weight: 1000;  
}

.practice-header h1 {
    font-size: var(--text1);
    margin-bottom: 0px;
}


.practice-header .description {
    font-size: var(--text3);
    color: var(--text-tertiary-color);
    text-align: right; 
    flex-grow: 1; 
    margin-left: 20px;
}

/* Stats section */
.stats {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    border-top: 2px solid var(--line-color);
    border-bottom: 2px solid var(--line-color);
    padding: 10px 0;
}

/* Main content layout */

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .flashcard-column {
    flex: 1; /* Take up the remaining space */
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center; /* Center the flashcard horizontally */
    align-items: center; /* Center the flashcard vertically */
  }
  .flashcard-buttons {
    flex-direction: row;
    padding: 5px;
    margin-top: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  .flashcard-buttons button {
    border: none;
    background-color: var(--button-secondary-color);
    border-radius: var(--button-rounding);
    padding: 6px 10px;
    margin: 0px 5px;
    font-size: var(--text3);
    font-weight: 550;
    cursor: pointer;
  }
  
  .button-column {
    width: 30%; /* Fixed width for the button column */
    margin: 16px 0px 0px 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align buttons to the right */
    gap: 10px; /* Add spacing between buttons */
  }
  
  .button-column button {
    width: 100%; /* Make buttons take up the full column width */
    padding: 8px;
    font-size: var(--text3);
    font-weight: 550;
    cursor: pointer;
    border: none;
    background-color: var(--button-secondary-color);
    border-radius: var(--button-rounding);
    transition: background-color 0.3s ease;
  }
  
  .button-column button:hover {
    background-color: #ddd;
  }