.vocab-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1.5px solid var(--border-color);
    background-color: var(--background-secondary-color);
    border-radius: 6px;
}

.vocab-container.expanded {
    background-color: var(--background-secondary-color);
  }

.vocab-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.vocab-hero {
    display: flex;
    flex: 1;
    height: 100%;
    padding-right: 1rem;
    flex-direction: column;
    justify-content: center;
}

.chinese {
    font-size: var(--text2);
    font-weight: bold;
}

.chinese-simplified {
    margin-right: 0.75rem;
}

.chinese-traditional {
    font-style: italic;
}

.pinyin-english {
    display: flex;
    justify-content: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
    margin-top: 8px;
}

.pinyin {
    font-size: var(--text3);
    color: var(--text-tertiary-color);
    margin-right: 4px;
}

.english {
    font-size: var(--text3);
    color: var(--text-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
    margin-left: 4px;
}

.vocab-actions {
    display: flex;
    height: 100%;
    justify-content: flex-end;
}

.vocab-actions .add-button {
    padding: 5px 10px;
    background-color: var(--button-primary-color);
    color: white;
    border: none;
    border-radius: var(--button-rounding);
    cursor: pointer;
    font-size: var(--text3);
    font-weight: 550;
}

.add-button:hover {
    background-color: var(--button-primary-color-hover);
}

.vocab-actions .edit-button {
    padding: 5px 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--button-rounding);
    cursor: pointer;
    font-size: var(--text3);
    font-weight: 550;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: var(--secondary-color-hover);
}

.vocab-expanded {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  .close-button {
    display: flex;
    width: 10%;
    justify-content: center;
    margin-top: 0.5rem;
    border-radius: var(--button-rounding);
    border: none;

    cursor: pointer;
    font-size: 0.75rem;
    font-weight: 550;
    transition: all 0.4s ease;
  }
  
  .close-button:hover {
    font-size: 1rem;
    font-weight: 1000;
  }