/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--background-color);
    border-bottom: 2px solid #e5ebee;
    margin: 0;
  }
  
  .icon {
    font-size: 36px;
    color: var(--highlight-color);
    font-weight: bold;
    margin: 0;
  }
  
  .profile-btn {
    padding: 10px 10px;
    border-radius: var(--button-rounding);
    border: none;
    background-color: var(--highlight-color);
    color: #edf2f4;
    cursor: pointer;
    font-size: var(--text3);
    transition: background-color 0.3s ease;
  }
  
  .profile-btn:hover {
    background-color: var(--highlight-color-hover);
  }
  
  /* Profile Panel Styling */
  .profile-panel {
    position: absolute;
    top: 70px; 
    right: 20px;
    background-color: var(--secondary-color);
    color: var(--text-secondary-color);
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10; /* Ensure the panel is above other content */
    border-radius: 8px;
  }
  
  .profile-panel button {
    margin-top: 10px;
    background-color: #777;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
  }
  
  .profile-panel button:hover {
    background-color: #999;
  }
  