/* Navbar container */
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: var(--background-color);
    width: 60px; /* Adjusted for closed width */
    margin-left: 4px;

    height: 100vh;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index: 1000; /* Optional, to avoid overlapping */
  }

  
  .navbar.open {
    width: 150px; /* Open width */
  }
  
  /* Toggle Button */
  .toggle-btn {
    background-color: var(--background-color);
    color: var(--highlight-color);
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
  }
  
  .toggle-btn:hover {
    font-weight: 1000;
    text-shadow: 0.5px 0px 0px var(--highlight-color);

  }
  
  .nav-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    font-weight: bold;
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    padding: 10px 15px;
    width: 100%;
    font-size: 16px;
    transition: all 0.3s ease; /* Smooth transition for hover and active state */
  }
  
  .nav-logo {
    color: var(--highlight-color);
    font-size: 20px;
    font-weight: 1000;
    margin-left: 5px;
    margin-right: 15px;
    max-width: 25px;
  }

  .nav-link.active .nav-logo {
    color: white;
  }
  




  .nav-name {
    display: inline-block;
    font-size: var(--text3);
    white-space: nowrap;
  }
  
  .nav-link:hover {
    color: var(--highlight-color); /* Highlight color on hover */
    background-color: #d2e8f5; 
    font-weight: bold; /* Bold text for active link */
    border-radius: var(--tab-rounding);
  }
  
  /* Styles for the active link */
  .nav-link.active {
    color: var(--highlight-color);
    background-color: #b2d1e2;
    font-weight: bold; /* Bold text for active link */
    border-radius: var(--tab-rounding);
  }
  
  .nav-link.active {
    color: white; /* Change logo color when active */
  }
  