/* src/styles/global.css */
:root {
    /* COLORS */
    --primary-color: #cae9ff;
    --primary-color-hover: #5fa8d3;

    --secondary-color: #b2d1e2;
    --secondary-color-hover: #d2e8f5;


    
    --background-color: white;
    --highlight-color: #296990;

    --highlight-color-hover: #34759d;
    --background-secondary-color: #fafafa;
    
    /* TEXT */
    --text-color: #0e2736;
    --text-secondary-color: #b4d6e3;
    --text-secondary-color-hover: rgb(12, 80, 12);

    --line-color: #0e2736;

    /* BUTTONS */
    --button-primary-color: #45b849;
    --button-primary-color-hover: #45a049;
    --button-secondary-color: #bcbcbc;
    --button-secondary-color-hover: #888888;
    --button-rounding: 4px;

    /* SIZING */
    --text1: 30px;
    --text2: 20px;
    --text3: 15px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
}

h1 {
    font-size: var(--text1);
    color: var(--text-color);
    font-weight: bold;
    text-align: center;
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    font-family: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding);
}