.flashcard-sets-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left; /* Align content to the left */
}

/* Header */
.tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.button {
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    border-radius: 5px;
    transition: background-color 0.2s ease;
  }

/* Search bar */
.search-bar {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

/* Set list container */
.set-list {
    display: flex;
    overflow-x: auto; /* Horizontal scrolling */
    gap: 10px;
    padding: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: -20px; /* Stretch left to the page edge */
    margin-right: -20px; /* Stretch right to the page edge */
    padding-left: 20px;
    padding-right: 20px;
}


/* No sets message */
.no-sets {
    font-size: 16px;
    color: #666;
}
