.flashcard-sets-container {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left; /* Align content to the left */
}

/* Header */
.tab-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: var(--text2);
    font-weight: bold;
}

.new-set {
    padding: 7px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    font-weight: 550;
    border-radius: var(--button-rounding);
    transition: background-color 0.2s ease;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.new-set:hover {
    background-color: var(--secondary-color-hover);
}

.cancel {
    padding: 7px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    font-weight: 550;
    border-radius: var(--button-rounding);
    transition: background-color 0.2s ease;
    color: var(--text-color);
    background-color: var(--button-secondary-color);
}

.cancel:hover {
    background-color: var(--button-secondary-color-hover);
}

/* Search bar */
.search-bar {
    width: 100%;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border: 1.5px solid var(--line-color);
    border-radius: 8px;
    font-size: 16px;
}

/* Set list container */
.set-list {
    display: flex;
    overflow-x: auto; /* Horizontal scrolling */
    gap: 10px;
    padding: 10px;
    border: 1.5px solid var(--border-color);
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}


/* No sets message */
.no-sets {
    font-size: var(--text3);
    color: #666;
}
