
.vocab-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 0.75rem;
    border-top: 2px solid var(--line-color);
    padding-top: 0.5rem;
  }

  .small-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    border-bottom: 2px solid var(--line-color);
  }
  
  .small-tabs button {
    padding: 8px 16px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .small-tabs .active {
    font-weight: bold;
    border-bottom: 2px solid var(--highlight-color);
  }
  
  .tab-content .row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .vocab-tab-content {
    padding: 0.5rem;
    border-radius: var(--button-rounding);
    background-color: var(--background-tertiary-color);
  }
  